/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Roboto',sans-serif;
    color: #eee;
}
body {
 width: 100%;
 height: 100%;
    
}
#exchange{
    border-radius: 50%;
}
#taemin
{
    background: #262626 -webkit-gradient(linear,left top, right top, from(#262626),to(#262626),color-stop(0.5,#fff)) 0 0 no-repeat;
    -webkit-backround-size: 150px;
    background-size: 150px;
    color: rgba(255,255,255,0.1);
    -webkit-background-clip: text;
    animation: kihyun 4.7s infinite;
    
}
.card
{
    
    position: absolute;
    top:64%;
    left: 31%;
    width: 314px;
    height: 464px;
    background: rgb(255, 255, 255);
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) perspective(2000px);
    box-shadow: inset 0px 0px 0px rgb(255, 252, 252), 0px 0px 0px rgb(255, 255, 255);
    transition: 1s;

}
.card:hover
{
    transform: translate(-50%,-50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgb(255, 255, 255), 0 10px 100px rgb(251, 251, 253);
 
}
.card:before
{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    
    background: rgb(246,7,128);
background: linear-gradient(90deg, rgba(246,7,128,1) 0%, rgba(232,9,137,1) 25%, rgba(221,13,153,1) 50%, rgba(171,5,125,1) 75%);
}
.card:after
{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: rgb(242,16,215);
background: linear-gradient( rgba(242,16,215,1) 0%, rgba(207,19,193,1) 25%, rgba(167,12,209,1) 50%, rgba(71,6,96,1) 75%);
    

    transform: skewY(-45deg);
    transform-origin: left;
}    
.card .imgBox
{
    width:100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
    
}
.card:hover .imgBox
{
    transform: rotateY(-135deg);
}
.card .more-details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 15px;
    z-index: -1;
    
}
#wonho
{
    font-size: 13.7px;
    color: #000000;
    font-family: 'Bangers', cursive;
    font-weight: 320;
    text-shadow: 0.4px 0.3px purple;
}
#minhyuk
{
    font-size: 19px;
    font-family: 'The Historia Demo',sans-serif;
    background: linear-gradient(to top, #ffe838 , #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

.loader_bg{
    margin: 0;
    padding: 0;
    position: fixed;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 999999;
    background: radial-gradient( #020f1b 0%,#090a0f 100%);
}
    #title{
    position: absolute;
    top:50%;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: -90px;
    padding-left: 10px;
    left: 0;
    right: 0;
    font-size: 20px;
    font-family: 'lato';
} 
  #title span{
      background: -webkit-linear-gradient(white,#38495a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  


.preloader
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 100px;
    text-transform: uppercase;
    line-height: 100px;
    text-align: center;
    background: -webkit-linear-gradient(white,#38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    letter-spacing: 15px;
    font-family: 'lato';
    overflow: hidden;
}

.preloader span{
    position: absolute;
    
}
.preloader span:nth-child(1)
{
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    animation: animate1 2s linear infinite;
    background: linear-gradient(to left, red,orange,yellow);
}
.preloader span:nth-child(3)
{
    width: 100%;
    height: 4px;
    bottom: 0;
    right: -100%;
    animation: animate3 2s linear infinite;
    background: linear-gradient(to right,rgb(0, 225, 255),rgb(34, 80, 148),blue);
}
.preloader span:nth-child(2)
{
    width: 4px;
    height: 100%;
    right: 0;
    top: -100%;
    animation: animate2 2s linear infinite;
    background: linear-gradient(to bottom,rgb(18, 236, 18),rgb(0, 102, 0));
}
.preloader span:nth-child(4)
{
    width: 4px;
    height: 100%;
    left: 0;
    bottom: -100%;
    animation: animate4 2s linear infinite;
    background: linear-gradient(to top,black,purple,rgb(231, 8, 183));
}
@keyframes animate1
{
    0%
    {
        left:-100%;
    }
    20%
    {
        left:0%;
    }
    40%
    {
        left:100%;
    }
    60%
    {
        left:100%;
    }
    80%
    {
        left:100%;
    }
    100%
    {
        left:100%;
    }
}
@keyframes animate2
{
    0%
    {
        top:-100%;
    }
    20%
    {
        top:-100%;
    }
    40%
    {
        top:0%;
    }
    60%
    {
        top:100%;
    }
    80%
    {
        top:100%;
    }
    100%
    {
        top:100%;
    }
}
@keyframes animate3
{
    0%
    {
        right:-100%;
    }
    20%
    {
        right:-100%;
    }
    40%
    {
        right:-100%;
    }
    60%
    {
        right:0%;
    }
    80%
    {
        right:100%;
    }
    100%
    {
        right:100%;
    }
}
@keyframes animate4
{
    0%
    {
        
        bottom:-100%;
    }
    20%
    {
        
        bottom:-100%;
    }
    40%
    {
        

        bottom:-100%;
    }
    60%
    {
        
        bottom:-100%;
    }
    80%
    {
        
        bottom:0%;
    }
    100%
    {
        
        bottom:100%;
    }
}

.loader{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: calc(50vh - 75px);
    left: calc(20vw - 75px);
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    animation: animate 0.5s linear infinite;

}
@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loader span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
.loader span:nth-child(1)
{
    filter: blur(5px);
}
.loader span:nth-child(2)
{
    filter: blur(10px);
}
.loader span:nth-child(3)
{
    filter: blur(25px);
}
.loader span:nth-child(4)
{
    filter: blur(50px);
}
.loader:after
{
    content:'';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #000000;
    border-radius: 50%;
}
.preload-finish{
    opacity: 0;
    pointer-events: none;
}

#videobg{
    position: fixed;
    z-index: -1;
}
#videokihyun{
    position: fixed;
    z-index: -1;
}
.loadering{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: calc(50vh - 75px);
    left: calc(79vw - 75px);
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    animation: animate 0.5s linear infinite;

}
.loadering span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
.loadering span:nth-child(1)
{
    filter: blur(5px);
}
.loadering span:nth-child(2)
{
    filter: blur(10px);
}
.loadering span:nth-child(3)
{
    filter: blur(25px);
}
.loadering span:nth-child(4)
{
    filter: blur(50px);
}
.loadering:after
{
    content:'';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #000000;
    border-radius: 50%;
}


section{
    padding: 6rem 0;
}


a{
    text-decoration: none;
    color: #eee;
}
p{
    font-size: 1.8rem;
    font-weight: 300;
}
img{
    width: 100%;
    border-radius: 15px;
}
/*End global*/
#shownu
{
    font-family: 'Pangolin', cursive;
}
/*Start reusable*/
.container{
    width: 90%;
    max-width: 900rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}
.section-heading h1{
    font-size: 3.5rem;
    color: rgba(255,255,255, .3);
text-transform: uppercase;
font-weight: 300;
position: relative;
margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.75);
}
.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}
.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
}
.has-margin-right{
    margin-right:5rem;
}
/*End reusable*/

/*Start header*/
header{
    width: 100%;
    height:100vh;
}


.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    
    background-image: url(images/best.jpeg);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}
.nav-list{
    list-style:none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 0 2rem;
}
.nav-link{
    font-family: 'The Historia Demo';
    font-size: 45px;
    padding: 12px;
}
.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #ffe838 , #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-nav.open{
    top:0;
    border-radius: initial;
}
.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}
.menu-toggler.open{
    transform: rotate(-45deg);
}
.bar{
    background: linear-gradient(to right, #ffe838,#fd57bf);
    width:100%;
    height: 4px;
    border-radius: .8rem;
}
.bar.half{
    width:50%;
}
.bar.start{
    transform-origin:right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
}
.open .bar .start{
    transform:rotate(-450deg) translateX(-.8rem);
}
.bar.end{
    align-self: flex-end;
    transform-origin:left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
}
.open .bar .end{
    transform: rotate(-450deg) translateX(-.8rem);
}
.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.landing-text h1{
    font-size: 20rem;
    font-family: 'The Historia Demo',sans-serif;
    background: linear-gradient(to top, #ffe838 , #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
    


}

.landing-text h6{
    font-size: 2.2rem;
    font-weight: bold;
    
    background: #262626 -webkit-gradient(linear,left top, right top, from(#262626),to(#262626),color-stop(0.5,#fff)) 0 0 no-repeat;
    -webkit-backround-size: 150px;
    background-size: 150px;
    color: rgba(255,255,255,0.1);
    -webkit-background-clip: text;
    animation: kihyun 4.7s infinite;
    
}
@keyframes kihyun{
    0%,10%{
        background-position: -1000px;
    }
    20%
    {
        background-position: top left;
    }
    90%
    {
        background-position: top right;
    }
    100%
    {
        background-position: 1000px;
    }
}

/*End header*/

/*Start about*/
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}
.about-heading h1{
    font-size: 10rem;
    opacity: .3;
    font-family: 'Antic Slab', serif;
}
.about-heading h6{
    font-size: 2.2rem;
    font-weight: 300;
    font-family: 'Antic Slab', serif;
}
.profile-img{
    flex: 1;
    
}
.about-details{
    font-size: 2rem;
    font-family: 'Baloo Tamma 2', cursive;
    
    
}
.social-media{
    margin-top: 5rem;
}
.social-media i{
    font-size: 5rem;
    transition: color 650ms;
}
.fa-facebook-square:hover{
    color: #4267b2;
}
.fa-twitter-square:hover{
    color: #38a1f3;
}
.fa-dribbble-square:hover{
    color: #ea4c89;
}

/*End about*/

/*Start services*/
.my-skills{
    margin-top: 10rem;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(25rem, lfr));
    grid-gap: 2.8rem;
    text-align: center;
    
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
    
}
.skills h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 35px;
    font-size: 15px;
    font-family: 'Faster One', cursive;
    text-shadow: 1px 0 3px red;
    animation: text-animation 4s linear infinite;
    
}
@keyframes text-animation {
    0%
    {
        text-shadow: 1px 2px 12px red;
    }
    10%{
        text-shadow: 1px 2px 9px rgb(250, 194, 10);
    }
    20%{
        text-shadow: 1px 2px 9px green;
    }
    30%{
        text-shadow: 1px 2px 9px rgb(16, 255, 215);
    }
    40%{ 
text-shadow: 1px 2px 12px yellow;
    }
    50%{
        text-shadow: 1px 2px 12px rgb(252, 9, 240);
    }
    60%{
        text-shadow: 1px 2px 12px rgb(177, 18, 240);
    }
    80%{
        text-shadow: 1px 2px 12px blue;
    }
}
.skills p{
    font-size: 12px;
    margin-top: 15px;
    font-family: 'Faster One', cursive;

}

.icon-container{
    width: 15rem;
    height:15rem;
    border:3px solid #570853;
    background: radial-gradient(ellipse at bottom,#2c0331d5 0%,#000000e3 100%);
    
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container i{
    color: #ffe838;
    font-size: 5rem;
    margin:auto;
    transform: rotate(-45deg);
}
/*End services*/

/*Start portfolio*/
.portfolio-item{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.portfolio-item:last-child{
    margin-bottom: 0;
}
.profile-img{
    width: 1px;
    flex: 1;

}

.portfolio-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
    font-family: 'Pangolin', cursive;
    
   
}

.portfolio-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
    font-family: 'Pangolin', cursive;
}
.portfolio-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
    font-family: 'Pangolin', cursive;
}
.portfolio-description .cta:hover{
    
    color: #14ffe9;
    
}
#jimin{
    font-family: 'Baloo Tamma 2', cursive;
    
}
#taehyung
{
    font-family: 'Pangolin', cursive;
}

/*End services*/

/*Start timeline*/
.timeline ul{
    border-left: 4px solid #ffe838;
    border-radius: .8rem;
    background-color: rgba(0,0,0,0.05);
    margin-left: 699px;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 50%;
}
.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}
.timeline .date{
    border-bottom: 1px solid rgba(255,255,255,1);
    margin-bottom: 2.9rem;
    padding-bottom: 1rem;
    position: relative;
    font-family: 'Pangolin', cursive;
}
.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top:10%;
    transform:translateY(-50%);
}
.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}
.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #fd57bf;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}

/*End timeline*/

/*Start contact*/

form{
    width: 70%;
    margin: 0 auto;
}
form label{
    font-size: 1.5rem;
}
input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #fd57bf;
}
input[type="submit"]{
    width: initial;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: backround-color 650ms;
}
input [type="submit"]:hover{
    color: #221e3f;
    background-color: #ffe838;
}

/*End contact*/

/*Start footer*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #00000086;
    padding: 2rem 0;
    position: relative;
}
.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}
.copyright p{
    font-size: 1.4rem;
    
}
/*End footer*/
/* for more information about me*/
.content
{
    width: 100%;
    background-color: #00000000;
    padding: 2rem 0;
   
    display: flex;
    
    
}
.content .box
{
    position: relative;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 40px;
    background: #00171d1c;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgb(0, 7,10,1);
    
}
.content .box .icon{
    width: 100%;
    height: 100%;
    background: #00171d62;
    transition: 0.5s;
    
}
.content .box:hover .icon
{
    transform: scale(0);
    
}
.content .box .icon .fa 
{
    font-size: 4em;
    line-height: 100px;
    color: #03a9f4;
}
.content .box .details 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    transition: 0.5s;
    transform: scale(2);
    opacity: 0;
}
.content .box:hover .details
{
    transform: scale(1);
    opacity: 1;
}
.content .box .details h3{
    margin:0;
    padding: 0;
    line-height:100px;
    font-size: 24px;
    color: #fff;
    font-family: 'Fredericka the Great', cursive;
}
.content .box:nth-child(2) .details
{
    background: #e91e63;
}
.content .box:nth-child(3) .details
{
    background: #8bc34a;
}


/*Start animations*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253,87,191,0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253,87,191,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253,87,191,0); 
    }
}
/*End animations*/

/*Start media queries*/
@media only screen and   (min-width:1810px) and (min-height:728px){
    .icon-container{
        width: 180px;
        height: 180px;
    }
    .skills p{
        font-size: 17px;
    }
    .my-skills{
        grid-gap: 1.2rem;
    }
}
@media only screen and (max-width:1809px) and (min-width:1744px) and (min-height:728px){
 .icon-container{
     width: 200px;
     height: 200px;
 }
 .skills p{
     font-size :15px ;
 }
 .my-skills{
     grid-gap: 10rem;
 }
}
@media only screen and (max-width:1743px) and (min-width:1700px) and (min-height:728px){
    .my-skills{
        grid-gap: 20rem;
    }
}
@media only screen and (max-width:1699px) and (min-width:1630px) and (min-height:728px){
    .my-skills{
        grid-gap: 17rem;
    }
}
@media only screen and (max-width:1629px) and (min-width:1590px) and (min-height:728px){
    .my-skills{
grid-gap: 15rem;
    }
}
@media only screen and (max-width:1589px) and (min-width:1550px) and (min-height:728px){
    .my-skills{
        grid-gap:13rem;
    }
}
@media only screen and (max-width:1549px) and (min-width:1500px) and (min-height:728px){
    .my-skills{
        grid-gap: 10rem;
    }
}
@media only screen and (max-width:1499px) and (min-width:1450px) and (min-height:728px){
    .my-skills{
        grid-gap: 8rem;
    }
}
@media only screen and (max-width:1449px) and (min-width:1400px) and (min-height:728px){
    .my-skills{
        grid-gap: 6.5rem;
    }
}
@media only screen and (max-width:1399px) and (min-width:1360px) and (min-height:728px){
    .my-skills{
        grid-gap: 4.5rem;
    }
}
@media only screen and (max-width:1359px) and (min-width:1315px) and (min-height:728px){
    .my-skills{
        grid-gap: 2.4rem;
    }
}
@media only screen and (max-width:1314px) and (min-width:1270px) and (min-height:728px){
    .my-skills{
        grid-gap: 0.2rem;
    }
}
@media only screen and (max-width:1269px) and (min-width:1200px) and (min-height:728px){
    .my-skills{
        grid-gap: 7rem;
    }
    .skills p{
        font-size: 10px;
    }
    
    .icon-container{
        width: 150px;
        height: 150px;
    }
}
@media only screen and (max-width:1199px) and (min-width:1150px) and (min-height:728px){
    .my-skills{
        grid-gap: 4rem;
    }
    .skills p{
        font-size: 10px;
    }
}
@media only screen and (max-width:1149px) and (min-width:1100px) and (min-height:728px){
    .my-skills{
        grid-gap: 2rem;
    }
    .skills p{
        font-size:10px;
    }
    
}
@media only screen and (max-width:1099px) and (min-width:1050px) and (min-height:728px){
    .my-skills{
        grid-gap: 5rem;
    }
    .skills p{
        font-size:18px;
    }
    .my-skills{
        display: grid;
    }
    .skills h1{
        font-size:25px;
        
    }
    .icon-container{
        display: center;
    }
    
}
@media only screen and (max-width:1049px) and (min-width:1000px) and (min-height:728px){
    .my-skills{
        grid-gap: 5rem;
    }
    .skills p{
        font-size:18px;
    }
    .my-skills{
        display: grid;
    }
    .skills h1{
        font-size:25px;
        
    }
    
}

@media only screen and (max-width: 600px) and (max-height:1520px){
    .menu-toggler{
        top: 3rem;
        right: 3rem;
    }
    .landing-text h1{
        font-size: 8rem;
    }
    .landing-text h6{
        font-size: 1.4rem;
    }
    .nav-link{
        font-size: 3.5rem;
    }
    .about .container{
        flex-direction: grid;
    }
    .profile-img{
        margin: 0 0 12rem 0;
    }
    .portfolio-item{
        flex-direction: grid;
        
    }
    .portfolio-img{
        margin:  0 7rem 0 0;
        order: 1;
    }
    .portfolio-description{
        margin: 0;
        order: 2;
    }
    .timeline p{
        font-size: 1.6rem;
    }
    .timeline .date::before{
        font-size: 1.4rem;
    }
    form{
        width: 100%;
    }
    .up{
        right: 2rem;
    }
    .my-skills{
        display: grid;
    }
    .about-heading{
        margin-bottom: 1rem;
    }
    .about-heading h1{
        font-size: 9rem;
        opacity: .3;
    }    
    .about-heading .nav-list{
        flex-direction: column;
    }
    .section-heading{
        text-align: center;
    }
    .container{
        width: 100%;
        
        height: 100%;
        margin: none;
        position: flex;
    }

}
@media only screen and (min-width:1919px) and (max-width:1920px) and (min-height:1079px) and (max-height:1080px){
    .card{
        position: absolute;
        top:64%;
        left: 20%;
        width: 314px;
        height: 464px;
    }
        .my-skills{
            grid-gap: 2rem;
        }
        .skills p{
            font-size:18px;
        }
    
}
@media only screen and (min-width:600px) and (max-width:1080px) and (min-height:600px)  and (max-height:1920px){
    body{
        width: 100%;
        height: 100%;
    
        background: url("images/triangle.jpg") no-repeat fixed ;
        background-size: 1080px 2200px ;
    }
#videobg{
    display: none;
}
.landing-text h6{
    font-size: 4rem;
}
    .timeline ul{
        width: 80%;
        margin-left: 100px;
        margin-top: 20px;
    }
    .card{
        top: 32%;
        left: 68%;
        margin-bottom: 20px;
    }
    .content .box .details h3{
        font-size: 12px;
    }
    .my-skills{
        display: grid;
    }
    .skills p{
        font-size: 22px;
    }
    .skills h1{
        font-size: 20px;
    }
    .about .container{
        display: grid;
    
    }
    .about-heading h1{
        margin-top:85px;
        font-size: 8rem;
    }
    .about-heading p{
        font-size: 20px;
        margin-right: 25px;
    }
    #suga{
        font-size: 21px;
    }
    .has-margin-right{ 
        margin-right: 25px;
        
    }
    .menu-toggler{
        position: absolute;
        top: 2rem;
        right: 1rem;
    
}
.portfolio-item{
    display: flex;
}
.card{
    display: none;
}
.content{
    display: none;
}


li{
    margin: 4rem 0;
}
.nav-link{
    font-size: 5rem;
    font-family: 'Faster One', cursive;
}
.section-heading h1{
    font-size: 3rem;
}


.about-details li{
    margin:  0 2rem;
}

.timeline ul{
    margin: 0 0 0 auto;
}
.timeline .date::before{
    left: -20rem;
}
.timeline .date::after{
    left: -5.9rem;
}
#jooheon{
    flex-direction: column;
}
.landing-text h1{
    font-family: 'Faster One', cursive;
}
.loadering{
    left: calc(83vw - 75px);
}

}





/*End media queries*/
